$radius: .5em;

.theme-choice {
  transform: translateY(-100%);
  transition: transform .25s;
  border-bottom-left-radius: $radius;
}

.menu-open {
  .theme-choice {
    transform: translateY(0);
  }
}

.menu-title {
  transform: translateY(100%);
  border-bottom-left-radius: $radius;
}
